@import url(https://fonts.googleapis.com/css?family=Fira+Sans+Text&display=swap);

.details{
    margin: 50px;
}

.name {
    font-weight: bold;
    font-size: large;
    color: rgb(7, 173, 214);
    font-family: 'Fira Sans', sans-serif;
}

.priceDetails {
    margin-top: 20px;
}

.price {
    margin-top: 20px;  
    font-weight: bolder;
    font-size: xx-large;    
}

.red {
    color: red;
    margin-left: 10px;
    font-weight: bolder;
    font-size: larger;
}

.green {
    color: green;
    margin-left: 10px;
    font-weight: bolder;
    font-size: larger;
}

.validRanges {
    position: relative;
    left: 30%;
    margin: 30px;

}

.range {
    margin: 10px;
    font-weight: bolder;
}

.rangeSelected, .range:hover {
    color:rgb(16, 197, 221);
    cursor: pointer;
    margin: 10px;
    font-weight: bolder;
}