@import url(https://fonts.googleapis.com/css?family=Fanwood+Text&display=swap);

.mainstock {
    display: inline-block;
    width: 14%;
    height: 30%;
    padding: 10px;
    margin: 20px 5px;
    border-right: 1px solid rgb(179, 178, 178);
}

.name {
    display: inline-block;
    color: rgb(7, 50, 151);
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Fanwood Text', serif;
}

.value {
    display: block;
    position: relative;
    margin-top: 5px;
    color: black;
    font-weight: bolder;
    font-size: 15px;
}

.valueHigh {
    display: block;
    position: relative;
    color: green;
    font-weight: bolder;
    font-size: 13px;
}

.valueLow {
    display: block;
    position: relative;
    color: red;
    font-weight: bolder;
    font-size: 13px;
}

